################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/NP.IoCSadeh/obj
/src/NP.Synergy/bin/Debug/net6.0
/src/NP.Synergy/obj
/src/bin/Debug/net6.0
/src/obj
